@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Sarala', cursive;
}

a {
    text-decoration: none;
    color: inherit;

}

.logo {
    font-size: 2rem;
}

.h {
    font-family: 'Aboreto', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.h2 {
    font-size: 1rem;
    text-align: center;
    padding: 20px;

}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #eee;
    color: #000;
    border-radius: 7px;
    transition: background 500ms ease-in-out;

}

.btn:hover {
    cursor: pointer;
    background: #000;
    color: #eee;
}

.headline {
    font-family: 'Sarala', cursive;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* navbar */

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;

}

/* showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/showcase.jpg') no-repeat center center/cover;
    
    /* overlay */
    background-color: rgba(0,0,0,0.4);   
    background-blend-mode: color;
    
}

#showcase-container {
    text-align: center;
}

/* clients */

#clients {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 70px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.client {
    display: inline-block;
    width: 25%;
}

/* about */

#features {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: rgb(156, 156, 156);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 5px 5px rgb(179, 179, 179);
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;

}

/* product */

#product {
    width: 100%;
    padding: 70px;

}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;

}

/* testimonials */

.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;

}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;

}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 0 0 1em rgb(230, 230, 230);
}


/* footer */

#footer {
    background: #eee;
    color: #222;
    text-align: center;
    padding: 30px;
    
}

